<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
      <h1>Register Account</h1>
      <% errors.forEach(el => { %>
        <p style="color: red;"><%= el %> </p>
      <% }) %>
        <form action="/users/register" method="POST">
          
            <div class="container">
              <label for="uname"><b>Name</b></label>
              <input type="text" placeholder="Enter Name" name="name"><br><br>

              <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="username"><br><br>

              <label for="uname"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email"><br><br>

              <label for="uname"><b>Phone Number</b></label>
              <input type="text" placeholder="Enter Phone Number" name="phone_number"><br><br>

              <label for="uname"><b>Address</b></label>
              <input type="text" placeholder="Enter Address" name="alamat"><br><br>
          
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="password"><br><br>
          
              <button type="submit">Register</button>
            </div><br>
          </form>

    </center>
      
</body>
</html>